<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div class="input-field">
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-input-signup" />
      </div>
      <div class="input-field">
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-input-signup" />
      </div>
      <button class="btn waves-effect waves-light #546e7a blue-grey darken-1" type="submit">Signup!</button>
      <a class="blue-text text-darken-2" href="/login">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>